body,
body * {
  box-sizing: border-box;
}

.board {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.development {
    background: linear-gradient(
      rgba(100, 100, 100, 0.5),
      rgba(100, 100, 100, 0.5)
    );
  }
  &.production {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("https://picsum.photos/1792/1120") center center no-repeat;
  }
  &.obfuscated {
    .item > {
      .item-content,
      .item-add {
        filter: blur(5px);
      }
    }
  }
}
.item {
  background-color: rgba(10, 10, 10, 0.43);
  padding: 12px;
  position: relative;
  backdrop-filter: blur(13px);
  max-width: 500px;
  
  .item-content {
    color: #fff;
    font-size: 16px;
    padding: 0;
    padding-right: 40px;
    transition: filter 0.1s ease;

    &-block {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: #fff;
    font-family: inherit;
  }
  &:hover {
    .item-remove {
      opacity: 1;
    }
    > .item-copy {
      height: 17px;
      transition-delay: 0.5s;
    }
  }
  &--absolute {
    position: absolute;
  }
  &.sortable-chosen {
    opacity: 0.3;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}

[draggable] {
  &:active {
    cursor: grabbing;
  }
}

.new-item {
  margin-bottom: 5px;
}

.group {
  cursor: move;
  cursor: grab;
  .item-content {
    padding-right: 0;
  }
  user-select: none;
  top: 0;
  left: 0;
  border-radius: 12px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &-left {
      display: flex;
      align-items: center;
    }
  }
}

.item-remove {
  opacity: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.item--collapse {
  transition: 0.2s ease;
  transition-property: height, padding, margin, opacity, transform;
}

.group {
  min-width: 145px;

  > .item-content {
    font-size: 17px;
  }

  &.item--collapse {
    opacity: 0;
  }

  &-items {
    margin-top: 10px;
    .item {
      margin-bottom: 5px;
      height: 42px;
      border-radius: 12px;
      &-remove {
        display: none !important;
      }
      &.item--collapse {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.item-button {
  cursor: pointer;
  color: #fff;
  padding: 0 6px 2px 6px;
  font-size: 24px;
  line-height: 16px;
  transition: 0.2s ease;
  display: flex;
  align-content: center;

  &:hover {
    transform: scale(1.4);
  }
}

.item-copy {
  display: block;
  transition: 0.4s ease;
  overflow: hidden;
  height: 0;
  button {
    padding: 0;
    background: none;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.1s ease;
    &:active {
      outline: none;
      transform: scale(0.95);
    }
  }
}

.action {
  position: absolute;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
  background: none;
  transform: scale(0);
  pointer-events: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    transform: scale(1);
    pointer-events: all;
  }
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.1);
  }

  &.undo {
    bottom: 15px;
    right: 15px;
  }

  &.obfuscate {
    top: 15px;
    right: 15px;
  }

  &.loading, &.error {
    right: 50px;
    bottom: 15px;
  }
}


@media only screen and (max-width: 600px) {
  .action.obfuscate {
    top: 5px;
  }
  .action.undo {
    bottom: 5px
  }
  .board {
    position: static;
    padding-top: 40px;
  }
  .draggable {
    position: static !important;
  }
  .group {
    margin-bottom: 10px;
  }
}

.error-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  max-width: 60vw;
  overflow: scroll;
  padding: 50px;
  border-radius: 12px;

  h2 {
    margin-top: 0;
    color: red;
  }
}