body,
body * {
  box-sizing: border-box;
}

.board {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("https://picsum.photos/1680/1000") center center no-repeat;

  &.obfuscated {
    .item > {
      .item-content,
      .item-add {
        filter: blur(5px);
      }
    }
  }
}
.item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  backdrop-filter: blur(13px);

  .item-content {
    color: #fff;
    font-size: 16px;
    padding: 0;
    padding-right: 40px;
    transition: filter 0.1s ease;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: #fff;
    font-family: inherit;
  }
  &:hover {
    > .item-remove {
      opacity: 1;
    }
  }
  &--absolute {
    position: absolute;
  }
  &.sortable-chosen {
    opacity: 0.3;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}

[draggable] {
  &:active {
    cursor: grabbing;
  }
}

.new-item {
  margin-bottom: 5px;
}

.group {
  cursor: move;
  cursor: grab;
  .item-content {
    padding-right: 0;
  }
  .item-add {
    padding-right: 40px;
  }
  user-select: none;
  top: 0;
  left: 0;
}

.item-remove {
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  right: 5px;
  font-size: 24px !important;
  vertical-align: top;
  top: 4px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.item--collapse {
  transition: 0.2s ease;
  transition-property: height, padding, margin, opacity, transform;
}

.group {
  > .item-content {
    font-size: 17px;
  }
  .item-remove {
    top: 7px;
  }

  &.item--collapse {
    opacity: 0;
  }

  &-items {
    margin-top: 10px;
    .item {
      margin-bottom: 5px;
      height: 38px;
      &-remove {
        display: none !important;
      }
      &.item--collapse {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.item-button {
  cursor: pointer;
  color: #fff;
  padding: 0 8px;
  font-size: 20px;
  display: inline;
}

.action {
  position: absolute;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
  background: none;
  transform: scale(0);
  pointer-events: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;

  &.visible {
    transform: scale(1);
    pointer-events: all;
  }
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.1);
  }

  &.undo {
    bottom: 15px;
    right: 15px;
  }

  &.obfuscate {
    top: 15px;
    right: 15px;
  }
}
